<div>
  <div class='instance_tabs'>
    <ul>
      <li ng-repeat="tab in tabs"
      ng-class="{active:isActiveTab(tab.template)}"
      class="tab"
      ng-click="onClickTab(tab)" ng-if="tab.enable">{{tab.title}}
      </li>
    </ul>
  </div>
</div>

<div id="mainView">
  <div ng-include="currentTab"></div>
</div>

<script type="text/ng-template" id="cluster.tpl.html">
  <div class='table-tab ui-view-container'>
    <div class='action_group'>
      <a class='btn btn-enable create'
          ui-sref="admin.cluster.create"><i></i>{{createAction}}</a>
      <button class='btn del' ng-class="deleteEnableClass"
        cross-confirm='deleteCluster()'
        items=selectedItems
        cross-confirm-action="{{deleteAction}}"
        action-enable="{{deleteEnableClass}}"
        slug={{slug}}>
        <i></i>
        {{deleteAction}}
      </button>
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-enable more" data-toggle="dropdown"><i></i>
        {{ more }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="action in moreActions" dynamic=action.actionTemplate actionDisable=action.actionDisableTemplate action-enable="{{action.enable}}">
        </li>
      </ul>
      </div>
      <button class='btn btn-enable fresh' ng-click='refresResource()'>
          <i></i>{{refesh}}
      </button>
    </div>

    <div datatable='clustersOpts' class="clusters_table"></div>

  </div>
</script>
