<div class="register-main"
  ng-if="urlCheckComplete"
  ng-style="{height: registerMainHeight}">
  <form name="register" method="POST">
    <div class="register-container" ng-if="urlCheckSuccess && !resetSuccess">
      <div class="register-header">{{note.header}}</div>
      <div class="register-field-area">
        <ul>
          <li class="register-field">
            <span class="field-title">{{ note.newPassword }}</span>
            <span class="field-input">
              <input name="password" ng-model="user.password"
              maxlength="20"
              type="password"
              ng-focus="fieldFocus('password')"
              ng-blur="fieldBlur('password')"
              ng-class="validateStatus.password"
              ng-disabled="fieldDisabled"
              class="password">
            </span>
            <span class="field-status error"
              ng-if="passwordStatus=='error'"></span>
            <span class="field-status correct"
              ng-if="passwordStatus=='correct'"></span>
          </li>

          <li class="register-field">
            <span class="field-title">{{ note.newPasswordConf }}</span>
            <span class="field-input">
              <input name="passwordConf" ng-model="user.passwordConf"
              ng-focus="fieldFocus('passwordConf')"
              ng-blur="fieldBlur('passwordConf')"
              maxlength="20"
              type="password"
              ng-class="validateStatus.passwordConf"
              ng-disabled="fieldDisabled"
              class="password">
            </span>
            <span class="field-status error"
              ng-if="passwordConfStatus=='error'"></span>
            <span class="field-status correct"
              ng-if="passwordConfStatus=='correct'"></span>
          </li>
        </ul>
        <div class="register-status-area">
          <span ng-if="!showLoading">{{ inputTips }}</span>
          <div class="loading-area" ng-if="showLoading">
            <div class="login-loading"></div>
            <div class="login-loading-image"></div>
          </div>
        </div>
        <ul>
          <li class="register-field">
            <span class="field-title"></span>
            <span class="field-input">
              <button name="submit"
                ng-click="resetSubmit()"
                class="register-submit">{{ note.submit }}</button>
            </span>
          </li>
        </ul>
      </div>
      <div class="close-button" ng-click="goBack()">&times;</div>
    </div>
    <div class="register-success"
      ng-if="resetSuccess">
      <div class="success-title">
        {{"Succeed to reset password!" | i18n}}
      </div>
      <div class="success-tips">
        <p>{{"You can login with new password!" | i18n}}</p>
        <p>{{counter}}{{note.countDown}}</p>
      </div>
    </div>
    <div class="register-success"
      ng-if="!urlCheckSuccess">
      <div class="failed-title">
        {{urlTips}}
      </div>
      <div class="success-tips">
        <p>{{"Please send a request to retrieve password again!" | i18n}}</p>
        <a ui-sref="retrievepassword">{{note.forgetPassword}}</a>
      </div>
    </div>
  </form>
  <div class="unicorn-copyright-area"></div>
</div>
