<div class="register-main"
  ng-style="{height: registerMainHeight}">
  <form name="register" method="POST">
    <div class="register-container" ng-if="!registerSuccess">
      <div class="register-header">{{note.header}}</div>
      <div class="register-field-area">
        <ul>
          <li class="register-field">
            <span class="field-title">{{ note.email }}</span>
            <span class="field-input">
              <input name="email" ng-model="user.email"
              ng-focus="fieldFocus('email')"
              ng-blur="fieldBlur('email')"
              ng-class="validateStatus.email"
              ng-disabled="fieldDisabled"
              class="email">
            </span>
            <span class="field-status error"
              ng-if="emailStatus=='error'"></span>
            <span class="field-status correct"
              ng-if="emailStatus=='correct'"></span>
          </li>
        </ul>
        <div class="register-status-area">
          <span ng-if="!showLoading">{{ inputTips }}</span>
          <div class="loading-area" ng-if="showLoading">
            <div class="login-loading"></div>
            <div class="login-loading-image"></div>
          </div>
        </div>
        <ul>
          <li class="register-field">
            <span class="field-title"></span>
            <span class="field-input">
              <button name="submit"
                ng-click="retireveSubmit()"
                class="register-submit">{{ note.submit }}</button>
            </span>
          </li>
        </ul>
      </div>
      <div class="close-button" ng-click="goBack()">&times;</div>
    </div>
    <div class="register-success"
      ng-if="registerSuccess">
      <div class="success-title">
        {{"The password reset mail has been sent." | i18n}}
      </div>
      <div class="success-tips">
        <p>{{"We have sent you an email containing a link that will allow you to reset your password for the next 24 hours." | i18n}}
        <p>{{"Please check your spam folder if the email does not appear within a few minutes." | i18n}}</p>
      </div>
    </div>
  </form>
  <div class="unicorn-copyright-area"></div>
</div>
