/* Variables will be used in index page */

/* Usage warning */

/* Min width of cross app */

/* Min height of cross app */

/* Background of app */

/* Left frame width of cross app */

/* Left frame background of cross app */

/* Top height of cross app */

/* Left logo background of cross app */

/* Top tool background of cross app */

/* Left nav bar item background */

/* Attr at data table */

/* Style of button for action */

/* left width of dashboard admin over view page */

/* top height of dashboard admin over view page */

/* Login container background-color */

/* Login container width */

/* Login container height */

/* Login logo image */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gridStyle {
  width: 100%;
  height: 500px;
  border: none;
}

.gridStyle .ngHeaderContainer {
  background: #cce4f6;
}

.gridStyle .ngHeaderSortColumn {
  text-align: center;
}

.gridStyle .ngVerticalBarVisible {
  background: none;
}

.gridStyle .enableClick {
  color: #269bd8;
}

.gridStyle .enableClick a:hover {
  text-decoration: none;
}

.gridStyle .ngViewport {
  height: auto !important;
}

.gridStyle .ngRow.even {
  background: #ffffff;
}

.gridStyle .ngRow.even:hover {
  background: #e1f2ff;
}

.gridStyle .ngRow.odd {
  background: #f2f2f2;
}

.gridStyle .ngRow.odd:hover {
  background: #e1f2ff;
}

.enableClick {
  color: #269bd8;
  cursor: pointer;
}

.enableClick a {
  display: block;
  width: inherit;
  overflow: hidden;
  color: #269bd8;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.enableClick a:hover {
  text-decoration: none;
}

.socrll-wapper {
  padding-top: 1px;
  background: #F4F5F6;
}

.datatable-wapper {
  position: relative;
}

.datatable {
  height: auto;
  margin-top: 36px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
}

.cross-data-table {
  width: 100%;
  border: 1px solid #F0F0F0;
  border-top: none;
  border-bottom: none;
  table-layout: fixed;
}

.cross-data-table thead tr th,
.cross-data-table tfoot tr td {
  height: 36px;
  padding-left: 10px;
  text-align: left;
  border: none;
  border-left: 1px solid #fff;
}

.cross-data-table thead tr th:first-child,
.cross-data-table tfoot tr td:first-child {
  border-left: 0;
}

.cross-data-table thead tr th.checkbox-in-table,
.cross-data-table tfoot tr td.checkbox-in-table {
  padding-left: 0;
  text-align: center;
}

.cross-data-table thead tr th a,
.cross-data-table tfoot tr td a {
  position: absolute;
  top: -35px;
  display: block;
  height: 36px;
  padding-left: 10px;
  margin-left: -11px;
  overflow: hidden;
  font-weight: normal;
  color: #3d3d3d;
  text-decoration: none;
  cursor: pointer;
  border-left: 1px solid white;
}

.cross-data-table thead tr th a:hover,
.cross-data-table tfoot tr td a:hover {
  color: #3d3d3d;
}

.cross-data-table thead tr th a.true.start,
.cross-data-table tfoot tr td a.true.start {
  border-left: none;
}

.cross-data-table thead tr th span,
.cross-data-table tfoot tr td span {
  line-height: 35px;
  white-space: nowrap;
}

.cross-data-table thead tr th .icon-chevron-up,
.cross-data-table tfoot tr td .icon-chevron-up {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url('../images/icon-arrow.png') no-repeat;
}

.cross-data-table thead tr th .icon-chevron-down,
.cross-data-table tfoot tr td .icon-chevron-down {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url('../images/icon-arrow.png') no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cross-data-table .cross-data-table-header {
  background-color: #f4f5f6;
  border: none;
}

.cross-data-table .cross-data-table-header th {
  height: 0;
}

.cross-data-table .cross-data-table-header th input {
  position: absolute;
  top: -30px;
  left: 11px;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row td {
  height: 32px;
  padding-left: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row td.cross-checkbox-in-table {
  padding-left: 0;
  text-align: center;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row td .ngCellText {
  text-align: left;
  border: none;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row td .ngCellText .list-in-cell {
  margin: 0 3px;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.even {
  background: #ffffff;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.even:hover {
  background: #f9f9f9;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.odd {
  background: #ffffff;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.odd:hover {
  background: #f9f9f9;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row.selected {
  background: #E3E3E3 !important;
}

.cross-data-table .cross-data-table-body .cross-data-table-body-row .cross-data-table-body-cell {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}

.cross-data-table .clear {
  clear: both;
}

.cross-data-table .checkbox-in-table {
  width: 3%;
  border: none;
}

.datatable-null-tips {
  height: 50px;
  margin-top: 20px;
  font-style: italic;
  color: #B7B5B5;
  text-align: center;
}

.instances-table .name,
.instances-table .project,
.instances-table .hypervisor_hostname {
  width: 15%;
}

.instances-table .fixed,
.instances-table .floating {
  width: 10%;
}

.instances-table .vcpus,
.instances-table .ram {
  width: 6%;
}

.instances-table th.status {
  width: 10%;
}

.projects_table table .name {
  width: 30%;
}

.projects_table table .description {
  width: 50%;
}

.alarm_logs_table .resource_type,
.alarm_logs_table .type,
.alarm_logs_table .created_at {
  width: 15%;
}

.alarm_logs_table .alarm_id {
  width: 25%;
}

.alarm_logs_table .resource {
  width: 30%;
}

.users_table table .name {
  width: 25%;
}

.users_table table .email {
  width: 30%;
}

.users_table table .project_name {
  width: 30%;
}

.footer-table {
  width: 100%;
}

.ngFooterPanel,
.cross-footer-panel {
  position: relative;
  height: 35px;
  background-color: white;
  border-top: none;
}

.ngFooterPanel .pageCode,
.cross-footer-panel .pageCode {
  position: absolute;
  right: 0;
  display: inline-block;
  height: 22px;
  margin-top: 5px;
  margin-right: 20px;
  text-align: right;
}

.ngFooterPanel .pageCode .page-item,
.cross-footer-panel .pageCode .page-item {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 22px;
  margin-right: 5px;
  margin-bottom: -2px;
  margin-left: 5px;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  cursor: pointer;
}

.ngFooterPanel .pageCode .page-item:hover,
.cross-footer-panel .pageCode .page-item:hover {
  color: #555;
  border-bottom: 2px solid #3ba7e0;
}

.ngFooterPanel .pageCode .page-item.pagetrue,
.cross-footer-panel .pageCode .page-item.pagetrue {
  font-size: 14px;
  font-weight: 800;
  color: #3ba7e0;
  border-bottom: 2px solid #3ba7e0;
}

.ngFooterPanel .pageCode .page-item.pagetrue:hover,
.cross-footer-panel .pageCode .page-item.pagetrue:hover {
  color: #3ba7e0;
  border-bottom: 2px solid #3ba7e0;
}

.ngFooterPanel .pageCode .page-item.change-page,
.cross-footer-panel .pageCode .page-item.change-page {
  width: 27px;
  margin-right: 0;
  margin-left: 0;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
  color: #aaa;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #fff;
}

.ngFooterPanel .pageCode .page-item.change-page.to-left,
.cross-footer-panel .pageCode .page-item.change-page.to-left {
  background-image: url(../images/page/to-left.png);
}

.ngFooterPanel .pageCode .page-item.change-page.to-right,
.cross-footer-panel .pageCode .page-item.change-page.to-right {
  background-image: url(../images/page/to-right.png);
}

.ngFooterPanel .pageCode .page-item.change-page:hover,
.cross-footer-panel .pageCode .page-item.change-page:hover {
  color: #eee;
  background-color: #3ba7e0;
  border-color: #3ba7e0;
  border-radius: 2px;
}

.ngFooterPanel .pageCode .page-item.change-page:hover.to-left,
.cross-footer-panel .pageCode .page-item.change-page:hover.to-left {
  background-image: url(../images/page/to-left-hover.png);
}

.ngFooterPanel .pageCode .page-item.change-page:hover.to-right,
.cross-footer-panel .pageCode .page-item.change-page:hover.to-right {
  background-image: url(../images/page/to-right-hover.png);
}

.ngFooterPanel .pageCode .page-item[disabled],
.cross-footer-panel .pageCode .page-item[disabled] {
  color: #aaa;
  cursor: default;
}

.ngFooterPanel .pageCode .page-item[disabled].to-left,
.cross-footer-panel .pageCode .page-item[disabled].to-left {
  background-image: url(../images/page/to-left-hover.png);
}

.ngFooterPanel .pageCode .page-item[disabled].to-right,
.cross-footer-panel .pageCode .page-item[disabled].to-right {
  background-image: url(../images/page/to-right-hover.png);
}

.ngFooterPanel .pageCode .page-item[disabled]:hover,
.cross-footer-panel .pageCode .page-item[disabled]:hover {
  color: #aaa;
  background-color: #fff;
  border-color: #fff;
}

.ngFooterPanel .pageCode .page-items,
.cross-footer-panel .pageCode .page-items {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  border-bottom: 2px solid #eee;
}

.ngFooterPanel .pageCode .page-items .page-item:first-child,
.cross-footer-panel .pageCode .page-items .page-item:first-child {
  margin-left: 0;
}

.ngFooterPanel .pageCode .page-items .page-item:last-child,
.cross-footer-panel .pageCode .page-items .page-item:last-child {
  margin-right: 0;
}

.data-filter {
  position: relative;
}

.data-filter .table-arrow {
  position: absolute;
  left: 3px;
  width: 25px;
  height: 25px;
  margin-top: 6px;
  cursor: pointer;
  background: url("../images/table_arrow.png") no-repeat;
  background-position: 5px 5px;
}

.data-filter .filter-select {
  width: 25px;
  margin-left: 9px;
  opacity: 0;
}

.data-filter .filter-select option {
  white-space: pre;
}