<div class='monitor_tabs'>
  <div class='each_tabs'>
  <ul>
    <li ng-repeat="tab in monitorTabs"
      ng-class="{active:isActiveTab(tab.template)}"
      class="monitor-tab"
      ng-click="switchTab(tab)" ng-if="tab.enable">{{tab.title}}</li>
  </ul>
  </div>
  <div class='clear'></div>
</div>

<div id="monitoArea">
  <div ng-include="currentMonitorTab"></div>
</div>

<script type="text/ng-template" id="monitorLine">
  <common-monitor class="monitorLine" data="cpuUtil"
   meter_name="cpu_util" resouce="{{instanceId}}">
  </common-monitor>
  <common-monitor class="monitorLine" data="ramUtil"
   meter_name="memory.usage" resouce="{{instanceId}}">
  </common-monitor>
  <common-monitor class="monitorLine" data="diskUsage"
   meter_name="disk" resouce="{{instanceId}}">
  </common-monitor>
  <div class="networkArea" ng-repeat="nic in instanceNics">
    <common-monitor class="monitorLine" data="networkUsages[nic.metadata.name]"
   meter_name="network" resouce="{{nic.resource_id}}">
    </common-monitor>
  </div>
</script>

<script type="text/ng-template" id="real-time-monitor">
<div ng-controller='project.instance.InstanceMonitorRealTimeCtl'
  ng-include="monitorLineTemplate">
</div>
</script>

<script type="text/ng-template" id="one-hour-ago">
<div ng-controller='project.instance.InstanceMonitorRealTimeCtl'
  ng-include="monitorLineTemplate">
</div>
</script>

<script type="text/ng-template" id="one-day-ago">
<div ng-controller='project.instance.InstanceMonitorRealTimeCtl'
  ng-include="monitorLineTemplate">
</div>
</script>

<script type="text/ng-template" id="one-week-ago">
<div ng-controller='project.instance.InstanceMonitorRealTimeCtl'
  ng-include="monitorLineTemplate">
</div>
</script>

<script type="text/ng-template" id="one-month-ago">
<div ng-controller='project.instance.InstanceMonitorRealTimeCtl'
    ng-include="monitorLineTemplate">
</div>
</script>
