<div>
  <div class='instance_tabs'>
    <ul>
      <li ng-repeat="tab in tabs"
      ng-class="{active:isActiveTab(tab.template)}"
      class="tab"
      ng-click="onClickTab(tab)" ng-if="tab.enable">{{tab.title}}
      </li>
    </ul>
  </div>
</div>

<div id="mainView">
  <div ng-include="currentTab"></div>
</div>

<script type="text/ng-template" id="unpublish.tpl.html">
  <div class='table-tab ui-view-container' ng-controller="admin.appstore.UnpublishCtr">
    <div class="action_group" action-button buttons="actionButtons"
      items="selectedItems">
    </div>
    <div datatable='appsOpts' class="types_table"></div>
  </div>
</script>

<script type="text/ng-template" id="published.tpl.html">
  <div class='table-tab ui-view-container' ng-controller="admin.appstore.PublishedCtr">
    <div class="action_group" action-button buttons="actionButtons"
      items="selectedItems">
    </div>
    <div datatable='appsOpts' class="types_table"></div>
  </div>
</script>
