<div class="standard-input align-{{field.alignment}} {{field.tag}}">
  <label>{{field.label | i18n}}</label>
    <input type={{field.tag}}
      ng-change="validator(field, $index)"
      ng-model="field.value"
      ng-class="{true: 'invalid'}[field.invalidate]"
      ng-if="field.tag!='textarea'"
      ng-disabled="!field.editable">
    <textarea type={{field.tag}}
      ng-change="validator(field, $index)"
      ng-model="field.value"
      rows="8" cols="20"
      ng-class="{true: 'invalid'}[field.invalidate]"
      ng-if="field.tag=='textarea'"></textarea>
    <span class="glyphicon glyphicon-eye-open"
        ng-if="field.tag=='password'"
        ng-click="passwordToText($event)"></span>
    <span ng-show="field.invalidate"
      class="field-error-tips">{{field.error_tips}}</span>
</div>
