<div detail-tips
  detail="network_detail" ng-if="!is_subnet">
</div>
<div detail-stitcher key-set=detailKeySet source=network_detail
    ng-if="!is_subnet">
</div>

<div class='detail_info' ng-if="!is_subnet">
  <div class="detail_title">{{detailItem.subnets}}</div>
  <div class="detail_area">
    <table class="table_in_detail">
      <thead>
        <tr>
          <th>{{subnetDetail.name}}</th>
          <th>{{subnetDetail.cidr}}</th>
          <th>{{subnetDetail.action}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="subnet in network_detail.subnets">
            <td>{{subnet.name}}</td>
            <td>{{subnet.cidr}}</td>
            <td>{{subnet.status}}</td>
        </tr>
        <tr ng-if="network_detail.subnets.length<=0">
            <td>{{subnetDetail.is_null}}</td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div detail-tips
  detail="network_detail" ng-if="is_subnet">
</div>

<div detail-stitcher key-set=subKeySet source=network_detail
    ng-if="is_subnet">
</div>

<div class='detail_info' ng-if="is_subnet">
  <div class="detail_title">{{detailItem.ports}}</div>
  <div class="detail_area">
    <table class="table_in_detail">
      <thead>
        <tr>
          <th>{{subnetDetail.port_name}}</th>
          <th>{{subnetDetail.ip_address}}</th>
          <th>{{subnetDetail.mac_address}}</th>
          <th>{{subnetDetail.instances}}</th>
          <th>{{subnetDetail.status}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="port in network_detail.ports">
            <td>{{port.name | parseNull}}</td>
            <td>{{port.fixed_ips[0].ip_address | parseNull}}</td>
            <td>{{port.mac_address | parseNull}}</td>
            <td>{{port.mac_address | parseNull}}</td>
            <td>{{port.status}}</td>
        </tr>
        <tr ng-if="network_detail.ports.length<=0">
            <td>{{subnetDetail.is_null}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
